[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sanic = "*"
sanic-session = "*"
aiohttp = "*"
parsel = "*"
click = "*"

[requires]
python_version = "3.6"
